<div class="card card-form">
  <center>
    <img src="/photos/logo.png" class ="header-logo"alt="logo"/>
    <h1 class="aboutUsTitle">LesGo Epic</h1>
  </center>
  <div class="card-body">
    <p class="formNotes">We are a social club that organizes events for all university students and alumni in Hong Kong. Be it camping, hiking, kayaking, movie nights, bowling, or ice skating, we love to do it all! </p>

  </div>
  <div class="content" id="feedbackResponse">
  <h2 class="text_shadows afterSubmitText">Thank you for sharing your thoughts with us ❤️!</h2>
</div>
</div>
