<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="photos/slider1.jpg" class="imageSlider" alt="" />
    </div>
    <div class="slide">
      <img src="photos/slider2.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider3.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider4.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider5.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider6.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider7.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider8.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider9.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider10.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider11.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider12.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider13.jpg" class="imageSlider" />
    </div>
    <div class="slide">
      <img src="photos/slider14.jpg" class="imageSlider" />
    </div>
  </div>
</div>
