<div class="card card-form">
  <center>
    <h1>Terms And Conditions</h1>
  </center>
  <div class="card-body">
    <h2>During events:</h2>

    <p class="formNotes">1. LesGo Epic does not bear any responsibility for any personal injuries suffered during any of the events.</p>
    <p class="formNotes">2. All participants should possess some basic knowledge of swimming, camping, kayaking, or hiking respective to the event they intend to participate in.</p>
    <p class="formNotes">3. LesGo Epic will disclose any risk associated with all events at its best knowledge. </p>
    <h2>Refund Policy:</h2>
    <p class="formNotes">1. Participants can ask for a refund as long as it is before the registration deadline. </p>

  </div>
</div>
